<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/applogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jobber"
        tools:targetApi="31">
        <activity
            android:name=".Relance.EditRelanceActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Entretien.EditEntretienActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Entreprise.EditEntrepriseActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Contact.EditContactActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Appel.EditAppelActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Candidature.EditCandidatureActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Relance.DetailsRelanceActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Relance.AddRelanceActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Entretien.DetailsEntretienActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Entretien.AddEntretienActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Appel.DetailsAppelActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PAREN_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Appel.AddAppelActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Entreprise.DetailsEntrepriseActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat" />

        <meta-data
            android:name="android.support.PAREN_ACTIVITY"
            android:value=".MainActivity" />

        <activity
            android:name=".Contact.DetailsContactActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PAREN_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Contact.AddContactActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Candidature.DetailsCandidatureActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Candidature.AddCandidatureActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".SignUser.SignInActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".SignUser.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>